/* POSITIONING AND FONT SIZING */
header  {
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
}

nav {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  max-height: 45px;
  padding: 0 18%;
}

.menu-item {
  padding-top: 5px;
}

.menu-item-label {
  font-size: 1.2em;
  padding: 5px 12px 8px;
}

.menu-item-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item-dropdown li {
  padding: 12px;
}

/* NON-POSITIONING STYLES (e.g. color) */

body {
  background: no-repeat top/100% url('../assets/background.jpg');
  color: #ddd;
  font-family: 'Open Sans';
  font-weight: lighter;
  text-shadow: black 2px 2px;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-item.selected {
  background-color: rgba(0, 0, 0, 0.7);
}

.menu-item-dropdown {
  background-color: rgba(0, 0, 0, 0.7);
}

.menu-item-dropdown > li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
